<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="student1" class="com.test.beans.Student"> <!--  scope="prototype"  Student student1 = new Student(); -->
		<property name="sno" value="101"/> <!-- student1.setSno(101); -->
		<property name="sname" value="Jhon"/> <!-- student1.setSname("Jhon"); -->
		<property name="fee" value="3400"/> <!-- student1.setFee(3400); -->
		<property name="course" value="MS"/> <!-- student1.setCourse("MS"); -->
		<property name="courseObj" ref="course"/>
		<property name="address" ref="address"/>
	</bean>
	
	
	<bean id="student2" class="com.test.beans.Student" autowire="byType"> <!--  lazy-init="true" Student student2 = new Student(102,"Tim",4500,"MS"); -->
		<constructor-arg name="sno" value="102"/>
		<constructor-arg name="sname" value="Tim"/>
		<constructor-arg name="fee" value="4500"/>
		<constructor-arg name="course" value="MS"/>
	</bean>
	
	<bean id="address" name="address" class="com.test.beans.Address"><!-- Address address = new Address() -->
		<property name="city" value="Plymouth" /> <!-- address.setCity("Plymouth"); -->
		<property name="state" value="MN" /><!-- Setter Injection -->
	</bean>
	
	<bean id="course" class="com.test.beans.Course">
		<property name="id" value="MS1001" />
		<property name="name" value="MS" /><!-- Setter Injection -->
	</bean>
	
</beans>